
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Values.role.name }}
  namespace: {{ required "namespace must be defined" .Values.namespace }}
rules:
  - apiGroups: [""]
    resources:
      - pods
      - services
      - configmaps
      - persistentvolumeclaims
      - secrets
    verbs: ["*"]
  - apiGroups: [""]
    resources: [ "pods/log" ]
    verbs: [ "get", "list" ]
  - apiGroups: [""]
    resources: [ "pods/portforward" ]
    verbs: [ "get", "list", "create" ]
  {{ if .Values.role.manageJobs }}
  - apiGroups: [ "batch"]
    resources: ["jobs", "cronjobs"]
    verbs: ["*"]
  {{ end }}


---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Values.role.name }}-{{ .Values.serviceAccount.name }}
  namespace: {{ required "namespace must be defined" .Values.namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ .Values.serviceAccount.name }}
    namespace: {{ .Values.namespace }}
roleRef:
  kind: Role
  name: {{ .Values.role.name }}
  apiGroup: rbac.authorization.k8s.io
